body {
  margin: 0;
  padding: 0;
}
.todo {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  /* background-color: aqua; */
  padding-top: 50px;
}

.upper {
  /* background-color: purple; */
  border: 2px solid black;
  border-radius: 10px;
  width: 70%;
  height: 9%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px 5px;
}
#input-data {
  width: 40%;
  border: 4px solid gainsboro;
  border-radius: 20px;
}
#btn {
  width: 20%;
  border: 2px solid gray;
  border-radius: 20px;
}

.lower {
  /* background-color: antiquewhite; */
  border: 2px solid gray;
  border-radius: 20px;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#todo-list {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 10px;
  width: 90%;
  height: 100%;
  /* background-color: coral; */
}
.todo-child {
  display: flex;
  justify-content: space-around;
  width: 97%;
  /* background-color: blueviolet; */
  border: 2px solid black;
  border-radius: 20px;
  height: 8%;
  padding: 5px 5px;
}

.task {
  width: 50%;
  padding-top: 15px;
  /* color: aqua; */
  /* background-color: azure; */
}

.edit,
.delete {
  width: 24%;
  border: 2px solid black;
  border-radius: 20px;
}
.delete {
  color: red;
}
.edit {
  color: green;
}

@media screen and (max-width: 450px) {
  .task {
    width: 40%;
  }
  .upper,
  .lower {
    width: 90%;
  }
}
